body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  /* background: #37a5bf; */
  background-image: -webkit-linear-gradient(
    to left,
    #badcd9,
    #97c7c3,
    #74b3ad,
    #4e9f97,
    #1a8b82
  );
  background-image: -o-linear-gradient(
    to left,
    #badcd9,
    #97c7c3,
    #74b3ad,
    #4e9f97,
    #1a8b82
  );
  background-image: linear-gradient(
    to left,
    #badcd9,
    #97c7c3,
    #74b3ad,
    #4e9f97,
    #1a8b82
  );
  height: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
#tweetBox {
  border: 1px solid #e3e3e3;
  background-color: #fff;
  border-radius: 5px;
  padding: 10px;
  width: 60%;
  margin: 30px auto;
  overflow: hidden;
  -webkit-box-shadow: 3px 3px 10px #666;
  -moz-box-shadow: 3px 3px 10px #666;
  box-shadow: 3px 3px 10px #666;
}
.img-container {
  float: left;
  width: 10%;
}

.img-container .profile-img {
  height: 52px;
  width: 52px;
  border-radius: 50%;
  cursor: pointer;
}
.text-content {
  float: left;
  padding-left: 20px;
  width: 70%;
}
.text-content .sub-content .sub-content-title {
  font-weight: 500;
  font-size: 18px;
  cursor: pointer;
  color: #1187e3;
}

hr {
  width: 75%;
}
span {
  font-size: 14px;
  color: #888;
}

.text-content .sub-content .sub-content-text {
  margin-top: 10px;
  font-size: 14px;
  font-family: Verdana, Geneva, sans-serif;
}
ul {
  list-style-type: none;
  padding: 0;
}
ul li {
  display: inline;
  margin-right: 25px;
}

.comments,
.retweets,
.favorite,
.location {
  color: #555;
  cursor: pointer;
}

.favorite:hover {
  color: #de315b;
}

.comments:hover {
  color: #dc8b0f;
}

.location:hover {
  color: #652ae0;
}

.retweets:hover {
  color: #20a017;
}

@media screen and (max-width: 680px) {
  .text-content {
    padding-left: 30px;
  }
  .metrics {
    font-size: 14px;
  }
}

@media screen and (min-width: 320px) and (max-width: 440px) {
  .img-container {
    float: none;
  }
  .text-content {
    padding-left: 20px;
    margin-top: 20px;
  }

  .metrics {
    font-size: 14px;
  }
  .location {
    display: none;
  }
}
